* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/e5/9c/82/e59c829455bd9cdc12930cb72c7253f3.png);
    background-size: cover;
    background-position: center;
}

li {
    color: white;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/*HEADER*/
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active {
    scale: 0.95;
}

/*DROPDOWN MENU*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*HERO*/
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*RESPONSIVE DESIGN*/
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

body {
    background-color: rgb(236, 238, 255);
}

.container {
    padding: 2%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 55%;
    margin-bottom: 10%;
    background-color: white;
}

h1 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-left: 15%;
}

.poster {
    float: right;
    padding-right: 5%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.container p:first-child {
    font-size: 18px;
    font-weight: 600;
    color: brown;
    margin-top: 5%;
}

/*Normal Kuliyyah Based box*/
.type {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4%;
    background-color: rgb(236, 238, 255);
    border-radius: 10px;
}

/*White border for Nomal Kuliyyah Based*/
.type span:first-child {
    padding: 4%;
    padding-left: 30%;
    background-color: white;
    border-radius: 10px;
}

/*Kuliyyah Based in two line as well as the pointer*/
.type span {
    padding-left: 25%;
    cursor: pointer;
}

.value {
    width: 100%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.money {
    border: 2px solid rgb(236, 238, 255);
    border-radius: 7px;
    font-weight: 600;
    padding-left: 30%;
    cursor: pointer;
}

.money:hover {
    background-color: black;
    color: white;
}

.confirm {
    margin-top: 5%;
}

/*space between Normal box and Name*/
.input {
    margin-top: 5%;
}

input[type="text"] {
    margin-top: 2%;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 15px;

    border-radius: 5px;
}

button {
    width: 100%;
    height: 30px;
    margin-top: 5%;
    font-weight: 600;
    color: white;
    background-color: brown;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(179, 81, 81);
}

p:nth-child(9) {
    margin-top: 10%;
}

.blue {
    color: blue;
    text-decoration: underline;
}



/*CONTACT INFORMATION*/
.container .contactInfo {
    position: absolute;
    top: 255%;
    width: 350px;
    height: calc(100% - 80px);
    background-color: brown;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.container .contactInfo h2 {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.container .contactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1) {
    width: 20px;
    min-width: 30px;
}

.container .contactInfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2) {
    color: white;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci {
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.container .contactInfo ul.sci li a {
    text-decoration: none;
}

.container .contactInfo ul.sci li a img {
    filter: invert(1);
}

/*CONTACT FORM*/
.container .contactForm {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 9%;
    width: calc(100% - 220px);
    height: 100%;
    background-color: white;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}

.container .contactForm h2 {
    color: brown;
    font-style: 24px;
    font-weight: 500;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container .contactForm .formBox .inputBox textarea {
    height: 120px;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus~span,
.container .contactForm .formBox .inputBox input:valid~span,
.container .contactForm .formBox .inputBox textarea:focus~span,
.container .contactForm .formBox .inputBox textarea:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: brown;
    font-weight: 500;
}

.container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background-color: brown;
    color: white;
    border: none;
    max-width: 150px;
    padding: 12px;
}

.container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background-color: rgb(179, 81, 81);
}

/*RESPONSIVE*/
@media (max-width: 1200px) {
    .container {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }

    .container .contactInfo {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }

    .container .contactForm {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    section {
        background-color: brown;
    }

    section::before {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .contactForm {
        width: 100%;
        height: auto;
    }

    .container .contactInfo {
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    .container .contactInfo ul.sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .container .contactForm {
        padding: 25px;
    }

    .container .contactInfo {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .container .contactInfo ul.sci {
        margin-top: 40px;
    }
}
